@media (min-width: 700px) {
  .container {
    max-width: 960px;
  }

  .card {
    display: flex;
    flex-direction: row-reverse;
    min-height: 40vh;
  }

  .row {
    width: 50%;
  }

  .hero_tittle {
    padding-top: 2rem;
  }

  .col_tiga {
    display: flex;
    width: 85%;
    justify-content: space-around;
    text-align: left;
    padding-top: 4rem;
  }

  .stat_group {
    margin-left: 3rem;
    width: 100%;
  }

  .hero_img {
    height: 100%;
    background-image: url("images/image-header-desktop.jpg");
    background-position: top;
    border-radius: 0 8px 8px 0;
  }

  .card {
    border-radius: 8px 0 0 8px;
  }

  .hero_tittle {
    text-align: left;
    font-size: 2rem;
  }

  .hero_text {
    text-align: left;
    width: 90%;
    margin: 1.3rem 0 0 0;
  }
}
